body {
  overflow-y: hidden;
}
#root > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  height: 100vh;
}
.wrapper {
  padding-top: 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  justify-content: flex-start;
}

.theme_dark {
  background-color: rgb(0, 0, 0);
}
.theme_colored {
  background-color: #082a45;
}
